.navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  font-family: 'Roboto', Helvetica, sans-serif;
  width: 100%;
}

.navigation__item {
  background-color: #0548be;
  border-right: 2px solid #7296d3;
  cursor: pointer;
  height: 47px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:last-child{
    border-right: none;
  }

  &:hover{
    background: #083c96;
  }

}

.navigation__item-link {
  color: #fff;
  text-decoration: none;
  display: block;
}